{plugins, [
  {'lfe-compile', {git, "git://github.com/lfe-rebar3/compile", {tag, "0.5.0"}}}
]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{deps, [
  {lfe,       {git, "git://github.com/rvirding/lfe",           {tag, "1.1.1"}}}
]}.

{project_plugins, [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.15.0"}}}
]}.

{pre_hooks, [{eunit,"sh -c \"cp $REBAR_DEPS_DIR/lbx/ebin/lbx.app $REBAR_DEPS_DIR/lbx/ebin/myapp.app;"
                    "sed -i -e 's/lbx/myapp/g' -e '4 a\\ \\{mod,\\{myapp,[]\\}\\},'"
                    " $REBAR_DEPS_DIR/lbx/ebin/myapp.app\""}]}.

{profiles, [
  {test, [
    %{eunit_opts, [verbose]},
    {eunit_compile_opts, [{src_dirs, ["src","test"]}]},
    {erl_opts, [{src_dirs, ["src","test"]}]},

    {deps, 
      [
       {ltest, {git, "git://github.com/erlanger/ltest", {branch, "master"}}},
       {eunit_formatters, {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}}
      ]
    }
  ]}
]}.

