
%This will pull in rvirfing/lfe 1.2.0
{plugins, [
  {'lfe-compile', {git, "git://github.com/lfe-rebar3/compile", {tag, "0.8.0-rc3"}}}
]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.


{post_hooks, [{compile,"sh -c \"cp $REBAR_DEPS_DIR/lbx/ebin/lbx.app $REBAR_DEPS_DIR/lbx/ebin/myapp.app;"
                    "sed -i -e 's/lbx/myapp/g' -e '4 a\\ \\{mod,\\{myapp,[]\\}\\},'"
                    " $REBAR_DEPS_DIR/lbx/ebin/myapp.app\""}]}.
{profiles, [
  %run make test
  {test, [
    %{eunit_opts, [verbose]},
    {eunit_compile_opts, [{src_dirs, ["src","test"]}]},
    {erl_opts, [{src_dirs, ["src","test"]}]},

    {deps, 
      [
       {ltest,            {git, "git://github.com/lfex/ltest",                        {branch, "master"}}},
       {btune,            {git, "git://github.com/erlanger/btune",                    {branch, "master"}}},
       {eunit_formatters, {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}}
      ]
    }
  ]},
  {doc, [
         {plugins, [
                    {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.16.2"}}}
                   ]}
        ]}
]}.

